.body-wrapper {
    background-color: #252B48;
    height: 100vh;
    overflow-x: hidden;
}

/*** NavBar ***/
.navbar-custom {
    background-color: #252B48;
    height: 10vh;
}

.navbar-brand-custom {
    width: calc(8vw + 4em);
}

.navbar-nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.nav-icon {
    color: #F7E987;
    font-size: calc(1vw + 1.5em);
    padding-right: 1em;
    transition: 0.3s;
}

.nav-icon:hover {
    animation-name: nav-icon;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes nav-icon {
    to {color: #f5efc0;}
}

/*** ChatBot ***/
.chat-box {
    width: 100%;
    height: 30em;
    border-style: none;
    border-radius: 1em;
    background-color: white;
    overflow-y: scroll;

    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em 1em;
}

.message-box {
    width: 100%;
    height: 4em;
    border-style: none;
    border-radius: 1em;
}

.btn-custom {
    background-color: #F7E987;
    width: 5em;
    height: 2em;
    margin-top: 0.75em;
    margin-bottom: 4em;

    color: #252B48;
    font-size: 1.5em;
    font-family: 'Signika Negative', sans-serif;

    border: #F7E987 2px solid;
    border-radius: 5px;

    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #f5efc0;
}

#p1{
    background:#252B48;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    padding: 2% 2% 2% 2%;
    margin: 1em 0;
    margin-left: 10em;
    border-radius: 10px;
    z-index: 1;
}

#p2{
    background:#445069;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    padding: 2% 2% 2% 2%;
    margin: 1em 0;
    margin-right: 10em;
    border-radius: 10px;
    z-index: 1;
}

.loader {
    top: 296px;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #252B48;
    box-shadow: -24px 0 #252B48, 24px 0 #252B48;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
    display: block;
    margin: auto;
}

@keyframes shadowPulse {
    33% {
        background: #252B48;
        box-shadow: -24px 0 #F7E987, 24px 0 #445069;
    }
    66% {
        background: #F7E987;
        box-shadow: -24px 0 #445069, 24px 0 #252B48;
    }
    100% {
        background: #445069;
        box-shadow: -24px 0 #252B48, 24px 0 #F7E987;
    }
}