.body-wrapper {
    background-color: #252B48;
    height: 100vh;
    overflow-x: hidden;
}

/*** NavBar ***/
.navbar-custom {
    background-color: #252B48;
    height: 10vh;
}

.navbar-brand-custom {
    width: calc(8vw + 4em);
}

.navbar-nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.nav-icon {
    color: #F7E987;
    font-size: calc(1vw + 1.5em);
    padding-right: 1em;
    transition: 0.3s;
}

.nav-icon:hover {
    animation-name: nav-icon;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes nav-icon {
    to {color: #f5efc0;}
}

/*** Form ***/
.form-title {
    color: #F7E987;
    font-size: 3em;
    font-family: 'Signika Negative', sans-serif;
    padding-bottom: 0.5em;
}

.form-text {
    color: white;
    font-size: 1.5em;
    font-family: 'Signika Negative', sans-serif;
}

.btn-custom {
    background-color: #F7E987;
    width: 5em;
    height: 2em;
    margin-top: 0.75em;
    margin-bottom: 4em;

    color: #252B48;
    font-size: 1.5em;
    font-family: 'Signika Negative', sans-serif;

    border: #F7E987 2px solid;
    border-radius: 5px;

    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #f5efc0;
}